<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DomainListServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://scmweb03.engscm.ad.agi/domaindirectory/domainlist.asmx"
                binding="basicHttpBinding" bindingConfiguration="DomainListServiceSoap"
                contract="DomainDir.DomainListServiceSoap" name="DomainListServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>